<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.dao.HouseListDAO">
    <select id="selectByCondition" resultType="com.zzq.pojo.HouseList">
        select * from houselist
        <where>
            <if test="status != '' and status != null">
                and status = #{status}
            </if>
        </where>
        order by
        houseid ASC
    </select>

    <select id="selectHouseLustById" resultType="com.zzq.pojo.HouseList">
        SELECT houseid,address,price,status,detail
        FROM houselist
        WHERE houseid=#{houseId}
    </select>

    <delete id="deleteHouseListById">
        DELETE FROM
        houselist
        WHERE houseid=#{houseId}
    </delete>

    <insert id="insertHouseList">
        INSERT INTO
        houselist (address,price,status,detail)
        VALUES (#{address},#{price},#{status},#{detail})
    </insert>

    <update id="updateHouseList">
        UPDATE houselist
        SET address=#{address},price=#{price},
        status=#{status},detail=#{detail}
        WHERE houseid=#{houseId}
    </update>
</mapper>